<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,274},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>British.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,769},{105,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>BrownLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,179},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>BrownTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,454},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>BrownTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,452},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>BrownTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,431},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>BrownTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,366},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>BrownTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,364},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>CloseSettings.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1005},{15,13}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{15,13}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>ClothTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,52},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ClothTableShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,718},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DarkTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,343},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>DarkTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,278},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>DarkTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,276},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>DarkTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,255},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>DarkTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,190},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>EU.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,899},{105,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>Gear.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,976},{33,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>GreenTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,806},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>GreenTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,804},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>GreenTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,783},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>GreenTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,718},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>GreenTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,716},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>GreenWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,103},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>LightTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,607},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>LightTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,542},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>LightTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,540},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>LightTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,519},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>LightTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,188},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>PossibleMoveCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,188},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,85}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>RedPiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,892},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>RedPieceCrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,871},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>RedPieceCrownSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>RedPieceSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,875},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>SettingsCornerShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1005},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SettingsShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,742},{34,25}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>Soviet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,899},{105,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>WhitePiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,102},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>WhitePieceCrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,894},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>WhitePieceCrownSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>WhitePieceSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>WhiteTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,695},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>WhiteTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,630},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>WhiteTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,628},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>WhiteTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,102},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>WhiteTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,100},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>bgBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1},{740,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,29}}</string>
                <key>sourceSize</key>
                <string>{740,29}</string>
            </dict>
            <key>bgLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{29,711}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,711}}</string>
                <key>sourceSize</key>
                <string>{29,711}</string>
            </dict>
            <key>bgRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,1},{29,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,740}}</string>
                <key>sourceSize</key>
                <string>{29,740}</string>
            </dict>
            <key>bgTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{768,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,29}}</string>
                <key>sourceSize</key>
                <string>{768,29}</string>
            </dict>
            <key>blue_led.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1005},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>blue_led_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,1005},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,713},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>settingsTopWood.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1},{50,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,770},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>user.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,976},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DraughtsSheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0639887bfb74c3ace34df34985d3c0ce$</string>
            <key>textureFileName</key>
            <string>DraughtsSheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
