<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,397},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>British.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1534},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>BrownLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,152},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BrownTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,999},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>BrownTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,898},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>BrownTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,745},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>BrownTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,825},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>BrownTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,724},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>CloseSettings.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2006},{28,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{28,26}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ClothTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1946},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ClothTableShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,95},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>DarkTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,571},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>DarkTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,651},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>DarkTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,550},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>DarkTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,397},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>DarkTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,477},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>EU.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1795},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>Gear.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,196},{66,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GreenTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1093},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>GreenTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,919},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>GreenTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1869},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>GreenTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1695},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>GreenTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1869},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>GreenWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LightTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1521},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>LightTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1173},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>LightTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1347},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>LightTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1173},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>LightTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,303},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>PossibleMoveCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1243},{167,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{167,169}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>RedPiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1438},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>RedPieceCrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1267},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>RedPieceCrownSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1745},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>RedPieceSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1},{198,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>SettingsCornerShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2006},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>SettingsShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1481},{66,50}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>Soviet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1795},{210,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,140}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>WhitePiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1072},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>WhitePieceCrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1609},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>WhitePieceCrownSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WhitePieceSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,200},{200,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>WhiteTexture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1521},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>WhiteTexture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1695},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>WhiteTexture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1347},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>WhiteTexture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,376},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>WhiteTexture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,202},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>bgBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{1479,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1479,57}}</string>
                <key>sourceSize</key>
                <string>{1479,57}</string>
            </dict>
            <key>bgLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{57,1422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,1422}}</string>
                <key>sourceSize</key>
                <string>{57,1422}</string>
            </dict>
            <key>bgRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1},{57,1479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,1479}}</string>
                <key>sourceSize</key>
                <string>{57,1479}</string>
            </dict>
            <key>bgTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1536,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,57}}</string>
                <key>sourceSize</key>
                <string>{1536,57}</string>
            </dict>
            <key>blue_led.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2006},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>blue_led_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2006},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1424},{85,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,109}}</string>
                <key>sourceSize</key>
                <string>{85,109}</string>
            </dict>
            <key>settingsTopWood.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1946},{100,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,126}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1538},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>user.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1},{108,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,93}}</string>
                <key>sourceSize</key>
                <string>{108,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DraughtsSheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:249f018662398c3ae05d5b04f0c3fdcf$</string>
            <key>textureFileName</key>
            <string>DraughtsSheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
